<%= form_with url: finalize_booking_room_booking_path(@room, @booking), method: :post do |f| %>
  <div class="form-group">
    <%= f.label :first_name, "Prénom" %>
    <%= f.text_field :first_name, class: 'form-control', readonly: true, value: @booking.first_name %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, "Nom" %>
    <%= f.text_field :last_name, class: 'form-control', readonly: true, value: @booking.last_name %>
  </div>

  <div class="form-group">
    <%= f.label :email, "Adresse Email" %>
    <%= f.email_field :email, class: 'form-control', readonly: true, value: @booking.email %>
  </div>

  <div class="form-group">
    <%= f.label :phone, "Numéro de téléphone" %>
    <%= f.telephone_field :phone, class: 'form-control', readonly: true, value: @booking.phone %>
  </div>

  <div class="form-group">
    <%= f.label :address, "Adresse" %>
    <%= f.text_field :address, class: 'form-control', readonly: true, value: @booking.address %>
  </div>

  <div class="form-group">
    <%= f.label :start_date, "Date de début" %>
    <%= f.text_field :start_date, class: 'form-control', readonly: true, value: @booking.start_date.strftime('%d/%m/%Y') %>
  </div>

  <div class="form-group">
    <%= f.label :end_date, "Date de fin" %>
    <%= f.text_field :end_date, class: 'form-control', readonly: true, value: @booking.end_date.strftime('%d/%m/%Y') %>
  </div>

  <div class="form-group">
    <%= f.submit 'Continuer vers le paiement', name: 'continue', class: 'btn btn-primary' %>
    <%= f.submit 'Demander un devis', name: 'quote', class: 'btn btn-secondary' %>
  </div>

  <!-- Bouton de retour -->
  <div class="form-group">
    <%= link_to 'Retour à la réservation', room_bookings_path(@room), class: 'btn btn-warning' %>
  </div>

  <!-- Bouton de modification -->
  <div class="form-group">
    <%= link_to 'Modifier la réservation', edit_room_booking_path(@room, @booking), class: 'btn btn-info' %>
  </div>
<% end %>
