<h1>Finalisation de la réservation</h1>

<div id="reservation-section" data-room-id="<%= @room.id %>">
  <!-- Contenu de la section de réservation -->
</div>

<% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@booking.errors.count, "erreur") %> empêchent la création de cette réservation :</h2>
    <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<!-- Formulaire pour finaliser la réservation -->
<%= form_with(model: [@room, @booking], local: true) do |f| %>

  <!-- Champ prénom -->
  <div class="form-group">
    <%= f.label :first_name, 'Prénom' %>
    <%= f.text_field :first_name, class: 'form-control', value: @booking.first_name %>
  </div>

  <!-- Champ nom -->
  <div class="form-group">
    <%= f.label :last_name, 'Nom' %>
    <%= f.text_field :last_name, class: 'form-control', value: @booking.last_name %>
  </div>

  <!-- Champ email -->
  <div class="form-group">
    <%= f.label :email, 'Adresse Email' %>
    <%= f.email_field :email, class: 'form-control', value: @booking.email %>
  </div>

  <!-- Champ téléphone -->
  <div class="form-group">
    <%= f.label :phone, 'Numéro de téléphone' %>
    <%= f.telephone_field :phone, class: 'form-control', value: @booking.phone %>
  </div>

  <!-- Champ adresse -->
  <div class="form-group">
    <%= f.label :address, 'Adresse' %>
    <%= f.text_field :address, class: 'form-control', value: @booking.address %>
  </div>

  <!-- Boutons de finalisation -->
  <div class="form-group">
    <%= f.submit 'Continuer vers le paiement', class: 'btn btn-primary', name: 'continue' %>
    <%= f.submit 'Demander un devis', class: 'btn btn-secondary', name: 'quote' %>
    <%= link_to 'Retour', room_path(@room), class: 'btn btn-secondary' %>

  </div>

<% end %>
