<!-- app/views/bookings/quote.html.erb -->

<h1>Devis pour la réservation</h1>
<p>Nom de la salle : <%= @booking.room.name %></p>
<p>Date de début : <%= @booking.start_date %></p>
<p>Date de fin : <%= @booking.end_date %></p>
<p>Montant total à régler: <%= @booking.total_amount %> €</p>

<%= link_to 'Accueil', root_path(anchor: 'search-section'), class: 'btn btn-primary' %>
<%= link_to 'Payer', room_booking_payment_path(@booking.room, @booking), class: 'btn btn-primary btn-sm' %>
