<!-- views/pages/dashboard.html.erb -->

<h2>Vos réservations</h2>

<% if @user_bookings.any? %>
  <% @user_bookings.each do |booking| %>
    <div class="card mb-3">
      <div class="card-body">
        <p><strong>Salle réservée :</strong> <%= booking.room.name %></p>
        <p><strong>Date de début :</strong> <%= booking.start_date.strftime("%d/%m/%Y %H:%M") %></p>
        <p><strong>Date de fin :</strong> <%= booking.end_date.strftime("%d/%m/%Y %H:%M") %></p>

        <!-- Lien pour voir et imprimer le devis -->
  <%= link_to 'Voir/Imprimer le Devis', quote_room_booking_path(booking.room, booking), class: 'btn btn-secondary btn-sm' %>

  
  <!-- Lien pour aller à la page de paiement -->
  <%= link_to 'Payer', room_booking_payment_path(booking.room, booking), class: 'btn btn-primary btn-sm' %>


        <!-- Lien pour modifier la réservation -->
        <%= link_to 'Modifier', edit_room_booking_path(booking.room, booking), class: 'btn btn-warning btn-sm' %>

        <!-- Lien pour supprimer la réservation -->
        <%= link_to 'Supprimer', room_booking_path(booking.room, booking), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette réservation ?' }, class: 'btn btn-danger btn-sm' %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Vous n'avez aucune réservation pour le moment.</p>
<% end %>

<!-- Lien pour faire une nouvelle réservation ou revenir à l'accueil -->
<% if @room.present? %>
  <%= link_to 'Nouvelle Réservation', new_room_booking_path(@room), class: 'btn btn-success' %>
<% else %>
  <%= link_to 'Accueil', root_path(anchor: 'search-section'), class: 'btn btn-primary' %>
 

<% end %>
