<!-- app/views/pages/dashboard.html.erb -->
<h2>Vos réservations</h2>
<% if @user_bookings.present? %>
  <% @user_bookings.each do |booking| %>
    <div>
      <p>Réservation de la salle : <%= booking.room.name %></p>
      <p>Date de début : <%= booking.start_date %></p>
      <p>Date de fin : <%= booking.end_date %></p>
    </div>
  <% end %>
<% else %>
  <p>Vous n'avez aucune réservation pour le moment.</p>
<% end %>

<!-- Vérifie si @room est défini avant d'afficher le lien -->
<% if @room %>
  <%= link_to 'Nouvelle Réservation', new_room_booking_path(@room), class: 'btn btn-success' if @room.present? %>

<% else %>
  <%= link_to 'Chercher une salle', rooms_path, class: 'btn btn-primary' %>
<% end %>
