<!-- app/views/pages/home.html.erb -->
<div class="hero-section text-center py-5" style="background-color: #f8f9fa;">
  <div class="container">
    <h1 class="display-4">Bienvenue sur Jereservemasalle.com</h1>
    <p class="lead">La plateforme idéale pour trouver ou louer la salle parfaite pour tous vos événements.</p>
    <%= image_tag 'salle.jpg', alt: 'Logo du site', class: 'my-4' %>
  </div>
</div>

<div class="container my-5">
  <!-- Section de présentation -->
  <div class="row">
    <div class="col-md-6">
      <h2>Pour les Bailleurs</h2>
      <p>Vous possédez une salle que vous souhaitez mettre en location ? Jereservemasalle.com vous permet de la proposer à un large public. Créez un compte, publiez votre annonce et gérez vos réservations en toute simplicité.p>Rejoignez notre plateforme et commencez à louer votre espace dès aujourd'hui !</p>
      <ul>
        <li>Augmentez vos revenus</li>
        <li>Gérez facilement vos réservations</li>
        <li>Profitez de notre large base de clients</li>
      </ul></p>
    </div>
    <div class="col-md-6">
      <h2>Pour les Loueurs</h2>
      <p>Vous cherchez un lieu pour organiser un événement ? Découvrez une large sélection de salles disponibles à la location, filtrées par ville, capacité, et autres critères pour répondre à vos besoins.</p>
      <li>Trouvez la salle parfaite pour votre événement</li>
      <li> Commoditer de recherche 
    </div>
  </div>

  <!-- Dernières salles ajoutées -->
  <div class="my-5">
  <h2 class="text-center">Nos dernières salles</h2>
  <div class="row">
    <% @latest_rooms.each do |room| %>
      <div class="col-md-4">
        <div class="card mb-3">
          <% if room.photos.attached? %>
            <%= image_tag room.photos.first, alt: room.name, class: 'card-img-top' %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= room.name %></h5>
            <p class="card-text"><%= room.description.truncate(100) %></p>
            <%= link_to 'Voir les détails', room_path(room), class: 'btn btn-primary' %>

          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!-- Derniers avis -->
  <div class="my-5">
    <h2 class="text-center">Ce que disent nos clients</h2>
    <div class="row">
      <% @latest_reviews.each do |review| %>
        <div class="col-md-4">
          <div class="testimonial-card p-3 mb-3 bg-light">
            <p><%= review.content.truncate(100) %></p>
            <p><strong><%= review.user.name %></strong></p>
            <p><em>Note : <%= review.rating %> étoiles</em></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center my-5">
  <p>Prêt à commencer ?</p>
  <%= link_to "S'inscrire en tant que bailleur", new_user_registration_path(role: 'bailleur'), class: 'btn btn-secondary btn-lg' %>
  <%= link_to "Rechercher une salle", rooms_path, class: 'btn btn-primary btn-lg' %>
</div>
