# app/views/rooms/_form.html.erb
<%= form_with(model: room, local: true) do |f| %>
    <!-- Autres champs du formulaire -->
  
    <div class="field">
      <%= f.label :photos %>
      <%= f.file_field :photos, multiple: true %>
    </div>
  
    <% if room.photos.attached? %>
      <h3>Photos existantes</h3>
      <div class="existing-photos">
        <% room.photos.each do |photo| %>
          <%= image_tag photo.variant(resize: "200x200") %>
          <%= link_to 'Supprimer', delete_photo_room_path(room, photo_id: photo.id), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette photo ?' } %>
        <% end %>
      </div>
    <% end %>
  
    <%= f.submit %>
  <% end %>