<% if @room.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@room.errors.count, "erreur") %> ont empêché cette salle d'être enregistrée :</h2>
    <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @room, local: true, html: { onsubmit: "return checkPhotos();" }) do |form| %>

  <!-- Nom de la salle -->
  <div class="form-group <%= 'has-error' if @room.errors[:name].any? %>">
    <%= form.label :name, "Nom de la salle" %>
    <%= form.text_field :name, class: "form-control" %>
    <% if @room.errors[:name].any? %>
      <div class="text-danger">
        <%= @room.errors[:name].first %>
      </div>
    <% end %>
  </div>

  <!-- Description -->
  <div class="form-group <%= 'has-error' if @room.errors[:description].any? %>">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, class: "form-control" %>
    <% if @room.errors[:description].any? %>
      <div class="text-danger">
        <%= @room.errors[:description].first %>
      </div>
    <% end %>
  </div>

  <!-- Adresse -->
  <div class="form-group <%= 'has-error' if @room.errors[:address].any? %>">
    <%= form.label :address, "Adresse" %>
    <%= form.text_field :address, class: "form-control" %>
    <% if @room.errors[:address].any? %>
      <div class="text-danger">
        <%= @room.errors[:address].first %>
      </div>
    <% end %>
  </div>

  <!-- Ville -->
  <div class="form-group <%= 'has-error' if @room.errors[:city].any? %>">
    <%= form.label :city, "Ville" %>
    <%= form.text_field :city, class: "form-control" %>
    <% if @room.errors[:city].any? %>
      <div class="text-danger">
        <%= @room.errors[:city].first %>
      </div>
    <% end %>
  </div>

  <!-- Département -->
  <div class="form-group <%= 'has-error' if @room.errors[:department].any? %>">
    <%= form.label :department, "Département" %>
    <%= form.text_field :department, class: "form-control" %>
    <% if @room.errors[:department].any? %>
      <div class="text-danger">
        <%= @room.errors[:department].first %>
      </div>
    <% end %>
  </div>

  <!-- Superficie -->
  <div class="form-group <%= 'has-error' if @room.errors[:surface].any? %>">
    <%= form.label :surface, "Superficie (m²)" %>
    <%= form.number_field :surface, class: "form-control", min: 1, step: 10 %>
    <% if @room.errors[:surface].any? %>
      <div class="text-danger">
        <%= @room.errors[:surface].first %>
      </div>
    <% end %>
  </div>

  <!-- Capacité -->
  <div class="form-group <%= 'has-error' if @room.errors[:capacity].any? %>">
    <%= form.label :capacity, "Capacité (nombre de personnes)" %>
    <%= form.number_field :capacity, class: "form-control", min: 1, step: 10 %>
    <% if @room.errors[:capacity].any? %>
      <div class="text-danger">
        <%= @room.errors[:capacity].first %>
      </div>
    <% end %>
  </div>

  <!-- E-mail -->
  <div class="form-group <%= 'has-error' if @room.errors[:mail].any? %>">
    <%= form.label :mail, "E-mail" %>
    <%= form.email_field :mail, class: "form-control" %>
    <% if @room.errors[:mail].any? %>
      <div class="text-danger">
        <%= @room.errors[:mail].first %>
      </div>
    <% end %>
  </div>

  <!-- Téléphone -->
  <div class="form-group <%= 'has-error' if @room.errors[:phone].any? %>">
    <%= form.label :phone, "Téléphone" %>
    <%= form.telephone_field :phone, class: "form-control" %>
    <% if @room.errors[:phone].any? %>
      <div class="text-danger">
        <%= @room.errors[:phone].first %>
      </div>
    <% end %>
  </div>

  <!-- Cuisine -->
  <div class="form-group">
    <%= form.label :kitchen, "Cuisine" %>
    <%= form.check_box :kitchen, class: "form-check-input" %>
  </div>

  <!-- Tarification et options de location -->

<!-- Location à l'heure -->
<div class="form-group">
  <%= form.check_box :hourly_rental %>
  <%= form.label :hourly_rental, "Permettre la location à l'heure" %>
  <% if @room.hourly_rental %>
    <%= form.number_field :hourly_rate, step: 1, class: 'form-control', placeholder: "Tarif à l'heure (en euros)", value: "" %>
  <% end %>
</div>

<!-- Location à la journée -->
<div class="form-group">
  <%= form.check_box :daily_rental %>
  <%= form.label :daily_rental, "Permettre la location à la journée" %>
  <% if @room.daily_rental %>
    <%= form.number_field :daily_rate, step: 1, class: 'form-control', placeholder: "Tarif à la journée (en euros)", value: "" %>
  <% end %>
</div>

<!-- Location 2 à 6 jours -->
<div class="form-group">
  <%= form.check_box :multiple_days_rental %>
  <%= form.label :multiple_days_rental, "Permettre la location de 2 à 6 jours" %>
  <% if @room.multiple_days_rental %>
    <%= form.number_field :multiple_days_rate, step: 1, class: 'form-control', placeholder: "Tarif pour 2 à 6 jours (en euros)", value: "" %>
  <% end %>
</div>

<!-- Location à la semaine -->
<div class="form-group">
  <%= form.check_box :weekly_rental %>
  <%= form.label :weekly_rental, "Permettre la location à la semaine" %>
  <% if @room.weekly_rental %>
    <%= form.number_field :weekly_rate, step: 1, class: 'form-control', placeholder: "Tarif à la semaine (en euros)", value: "" %>
  <% end %>
</div>

<!-- Location au mois -->
<div class="form-group">
  <%= form.check_box :monthly_rental %>
  <%= form.label :monthly_rental, "Permettre la location au mois" %>
  <% if @room.monthly_rental %>
    <%= form.number_field :monthly_rate, step: 1, class: 'form-control', placeholder: "Tarif au mois (en euros)", value: "" %>
  <% end %>
</div>

<!-- Location pour le week-end -->
<div class="form-group">
  <%= form.check_box :weekend_rental %>
  <%= form.label :weekend_rental, "Permettre la location pour le week-end" %>
  <% if @room.weekend_rental %>
    <%= form.number_field :weekend_rate, step: 1, class: 'form-control', placeholder: "Tarif pour le week-end (en euros)", value: "" %>
  <% end %>
</div>

<!-- Location à l'année -->
<div class="form-group">
  <%= form.check_box :annual_rental %>
  <%= form.label :annual_rental, "Permettre la location à l'année" %>
  <% if @room.annual_rental %>
    <%= form.number_field :annual_rate, step: 1, class: 'form-control', placeholder: "Tarif à l'année (en euros)", value: "" %>
  <% end %>
</div>


  <!-- Photo principale -->
  <div class="form-group <%= 'has-error' if @room.errors[:main_photo].any? %>">
    <%= form.label :main_photo, "Photo principale" %>
    <%= form.file_field :main_photo, class: "form-control-file" %>
    <% if @room.errors[:main_photo].any? %>
      <div class="text-danger">
        <%= @room.errors[:main_photo].first %>
      </div>
    <% end %>

    <!-- Affichage de la photo principale -->
    <% if @room.persisted? && @room.main_photo.attached? %>
      <div class="mt-3">
        <%= link_to image_tag(url_for(@room.main_photo), class: "img-thumbnail"), url_for(@room.main_photo), data: { lightbox: 'room-photos', title: @room.name } %>
        <%= link_to 'Supprimer', delete_main_photo_room_path(@room), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette photo ?' }, class: "btn btn-danger btn-sm mt-2" %>
      </div>
    <% end %>
  </div>

  <!-- Photos supplémentaires -->
  <div class="form-group <%= 'has-error' if @room.errors[:additional_photos].any? %>">
    <%= form.label :additional_photos, "Photos supplémentaires" %>
    <%= form.file_field :additional_photos, multiple: true, class: "form-control-file" %>
    <% if @room.errors[:additional_photos].any? %>
      <div class="text-danger">
        <%= @room.errors[:additional_photos].first %>
      </div>
    <% end %>

    <!-- Affichage des photos supplémentaires -->
    <% if @room.persisted? && @room.additional_photos.attached? %>
      <div class="row mt-3">
        <% @room.additional_photos.each do |photo| %>
          <div class="col-md-3 text-center">
            <%= link_to image_tag(url_for(photo), class: "img-thumbnail"), url_for(photo), data: { lightbox: 'room-photos', title: @room.name } %>
            <%= link_to 'Supprimer', delete_additional_photo_room_path(@room, photo_id: photo.id), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette photo ?' }, class: "btn btn-danger btn-sm mt-2" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Soumission -->
  <div class="form-group">
    <%= form.submit "Enregistrer la salle", class: "btn btn-primary" %>
  </div>

<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const rateFields = document.querySelectorAll('input[type="number"]');

    rateFields.forEach(function(field) {
      field.addEventListener('input', function(event) {
        const value = event.target.value;
        if (value < 0) {
          alert("Le tarif ne peut pas être inférieur à 0.");
          event.target.value = "";
        }
      });
    });
  });
</script>

