<%= form_with(model: @room, local: true, html: { onsubmit: "return checkPhotos();" }) do |form| %>

  <!-- Nom de la salle -->
  <div class="form-group">
    <%= form.label :name, "Nom de la salle" %>
    <%= form.text_field :name, class: "form-control #{'is-invalid' if @room.errors[:name].any?}" %>
    <% if @room.errors[:name].any? %>
      <div class="invalid-feedback">
        <%= @room.errors[:name].first %>
      </div>
    <% end %>
  </div>

  <!-- Description -->
  <div class="form-group">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, class: "form-control #{'is-invalid' if @room.errors[:description].any?}" %>
    <% if @room.errors[:description].any? %>
      <div class="invalid-feedback">
        <%= @room.errors[:description].first %>
      </div>
    <% end %>
  </div>

  <!-- Adresse -->
  <div class="form-group">
    <%= form.label :address, "Adresse" %>
    <%= form.text_field :address, class: "form-control #{'is-invalid' if @room.errors[:address].any?}" %>
    <% if @room.errors[:address].any? %>
      <div class="invalid-feedback">
        <%= @room.errors[:address].first %>
      </div>
    <% end %>
  </div>

  <!-- Ville -->
  <div class="form-group">
    <%= form.label :city, "Ville" %>
    <%= form.text_field :city, class: "form-control #{'is-invalid' if @room.errors[:city].any?}" %>
    <% if @room.errors[:city].any? %>
      <div class="invalid-feedback">
        <%= @room.errors[:city].first %>
      </div>
    <% end %>
  </div>

  <!-- Département -->
  <div class="form-group">
    <%= form.label :department, "Département" %>
    <%= form.text_field :department, class: "form-control #{'is-invalid' if @room.errors[:department].any?}" %>
    <% if @room.errors[:department].any? %>
      <div class="invalid-feedback">
        <%= @room.errors[:department].first %>
      </div>
    <% end %>
  </div>

  <!-- Superficie -->
  <div class="form-group">
    <%= form.label :surface, "Superficie (m²)" %>
    <%= form.number_field :surface, class: "form-control #{'is-invalid' if @room.errors[:surface].any?}", min: 1, step: 10 %>
    <% if @room.errors[:surface].any? %>
      <div class="invalid-feedback">
        <%= @room.errors[:surface].first %>
      </div>
    <% end %>
  </div>

  <!-- Capacité -->
  <div class="form-group">
    <%= form.label :capacity, "Capacité (nombre de personnes)" %>
    <%= form.number_field :capacity, class: "form-control #{'is-invalid' if @room.errors[:capacity].any?}", min: 1, step: 10 %>
    <% if @room.errors[:capacity].any? %>
      <div class="invalid-feedback">
        <%= @room.errors[:capacity].first %>
      </div>
    <% end %>
  </div>

  <!-- E-mail -->
  <div class="form-group">
    <%= form.label :mail, "E-mail" %>
    <%= form.email_field :mail, class: "form-control #{'is-invalid' if @room.errors[:mail].any?}" %>
    <% if @room.errors[:mail].any? %>
      <div class="invalid-feedback">
        <%= @room.errors[:mail].first %>
      </div>
    <% end %>
  </div>

  <!-- Téléphone -->
  <div class="form-group">
    <%= form.label :phone, "Téléphone" %>
    <%= form.telephone_field :phone, class: "form-control #{'is-invalid' if @room.errors[:phone].any?}" %>
    <% if @room.errors[:phone].any? %>
      <div class="invalid-feedback">
        <%= @room.errors[:phone].first %>
      </div>
    <% end %>
  </div>

  <!-- Cuisine -->
  <div class="form-group">
    <%= form.label :kitchen, "Cuisine" %>
    <%= form.check_box :kitchen, class: "form-check-input" %>
  </div>

  <!-- Ajout de la photo principale -->
  <div class="form-group">
    <%= form.label :main_photo, "Photo principale" %>
    <%= form.file_field :main_photo, class: 'form-control' %>
  </div>

  <!-- Ajout de photos supplémentaires -->
  <div class="form-group">
    <%= form.label :additional_photos, "Photos supplémentaires" %>
    <%= form.file_field :additional_photos, multiple: true, class: 'form-control' %>
  </div>

  <!-- Tarification et options de location -->
  <!-- Location à l'heure -->
  <div class="form-group">
    <%= form.check_box :hourly_rental, {}, true, false %>
    <%= form.label :hourly_rental, "Permettre la location à l'heure" %>
    <%= form.number_field :hourly_rate, step: 1, class: 'form-control', value: @room.hourly_rate || 1 %>
  </div>

  <!-- Location à la journée -->
  <div class="form-group">
    <%= form.check_box :daily_rental, {}, true, true %>
    <%= form.label :daily_rental, "Permettre la location à la journée" %>
    <%= form.number_field :daily_rate, step: 1, class: 'form-control', value: @room.daily_rate || 1 %>
  </div>

  <!-- Location de 2 à 6 jours -->
  <div class="form-group">
    <%= form.check_box :multiple_days_rental, {}, true, true %>
    <%= form.label :multiple_days_rental, "Permettre la location de 2 à 6 jours" %>
    <%= form.number_field :multiple_days_rate, step: 1, class: 'form-control', value: @room.multiple_days_rate || 1 %>
  </div>

  <!-- Location à la semaine -->
  <div class="form-group">
    <%= form.check_box :weekly_rental, {}, true, true %>
    <%= form.label :weekly_rental, "Permettre la location à la semaine" %>
    <%= form.number_field :weekly_rate, step: 1, class: 'form-control', value: @room.weekly_rate || 1 %>
  </div>

  <!-- Location pour le week-end -->
  <div class="form-group">
    <%= form.check_box :weekend_rental, {}, true, true %>
    <%= form.label :weekend_rental, "Permettre la location pour le week-end" %>
    <%= form.number_field :weekend_rate, step: 1, class: 'form-control', value: @room.weekend_rate || 1 %>
  </div>

  <!-- Location au mois -->
  <div class="form-group">
    <%= form.check_box :monthly_rental, {}, true, true %>
    <%= form.label :monthly_rental, "Permettre la location au mois" %>
    <%= form.number_field :monthly_rate, step: 1, class: 'form-control', value: @room.monthly_rate || 1 %>
  </div>

  <!-- Location au trimestre -->
  <div class="form-group">
    <%= form.check_box :quarterly_rental, {}, true, true %>
    <%= form.label :quarterly_rental, "Permettre la location trimestrielle" %>
    <%= form.number_field :quarterly_rate, step: 1, class: 'form-control', value: @room.quarterly_rate || 1 %>
  </div>

  <!-- Location au semestre -->
  <div class="form-group">
    <%= form.check_box :semiannual_rental, {}, true, true %>
    <%= form.label :semiannual_rental, "Permettre la location au semestre" %>
    <%= form.number_field :semiannual_rate, step: 1, class: 'form-control', value: @room.semiannual_rate || 1 %>
  </div>

  <!-- Location à l'année -->
  <div class="form-group">
    <%= form.check_box :annual_rental, {}, true, true %>
    <%= form.label :annual_rental, "Permettre la location à l'année" %>
    <%= form.number_field :annual_rate, step: 1, class: 'form-control', value: @room.annual_rate || 1 %>
  </div>

  <!-- Bouton de soumission -->
  <div class="form-group">
    <%= form.submit "Enregistrer la salle", class: "btn btn-primary" %>
  </div>

<% end %>
