<div class="form-message">
  <!-- Formulaire pour la réservation -->
  <%= form_with url: room_bookings_path(@room), method: :post, local: true do %>

    
    <!-- Champs cachés pour la date et la durée -->
    <%= hidden_field_tag :date, params[:date] %>
    <%= hidden_field_tag :duration, params[:duration] %>

    <!-- Si la durée sélectionnée est 'hour', afficher le champ de sélection de l'heure de début -->
    <% if params[:duration] == 'hour' %>
      <div class="form-group">
        <label for="start_time">Sélectionnez une heure de début :</label>
        <%= time_field_tag :start_time, nil, class: 'form-control' %>
      </div>
    <% end %>

    <!-- Champs cachés pour la date de début et de fin -->
    <input type="hidden" name="start_date" value="<%= @start_date %>">
    <input type="hidden" name="end_date" value="<%= @end_date %>">

    <!-- Bouton de soumission -->
    <%= submit_tag "Réserver", class: "btn btn-warning" %>
  <% end %>
</div>
