<!-- app/views/rooms/_room_card.html.erb -->
<div class="card mb-3">
  <div class="card-header">
    <h3><%= room.name %></h3>
  </div>
  <div class="card-body">
    <p><%= room.description.truncate(100) %></p>
    <p><strong>Adresse :</strong> <%= room.address %></p>
    <p><strong>Ville :</strong> <%= room.city.present? ? room.city : 'Non spécifiée' %></p>
    <p><strong>Département :</strong> <%= room.department %></p>
    <p><strong>Type de salle :</strong> <%= room.room_type.present? ? room.room_type.capitalize : 'Type inconnu' %></p>
    <p><strong>Capacité :</strong> <%= room.capacity %> personnes</p>
    <p><strong>Prix :</strong> <%= number_to_currency(room.price) %></p>
    
    <% if room.photos.attached? %>
      <div class="photos mt-3">
        <% room.photos.each do |photo| %>
          <%= image_tag 'default_image.png', class: "card-img-top", alt: "Une image par défaut" %>


        <% end %>
      </div>
    <% end %>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <%= link_to 'Voir les disponibiltés', room_path(room), class: 'btn btn-primary' %>
  </div>
</div>
