<div class="room-details-section">
  <h2>Calendrier des réservations</h2>

  <% if @room %>
    <div id="reservation-section" data-room-id="<%= @room.id %>">

   

    <!-- Détails de la salle -->
    <div class="room-info">
      <h1><%= @room.name %></h1>
      <p><strong>Adresse :</strong> <%= @room.city %>, <%= @room.department %></p>
      <p><strong>Capacité :</strong> <%= @room.capacity %> personnes</p>
    </div>

    <%= link_to 'Réserver cette salle', new_room_booking_path(@room), class: 'btn btn-primary my-3' %>

  <% else %>
    <p>Cette salle n'existe pas ou a été supprimée.</p>
  <% end %>
</div>


