<!-- app/views/rooms/index.html.erb -->
<h1>Toutes les salles</h1>

<% if @rooms.any? %>
  <div class="row">
    <% @rooms.each do |room| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <% if room.photos.attached? %>
            <%= link_to url_for(room.photos.first), data: { lightbox: "rooms", title: room.name } do %>
              <%= image_tag room.photos.first.variant(resize_to_limit: [100, 100]), class: "card-img-top" %>
            <% end %>
          <% else %>
            <%= image_tag 'default_image.png', class: "card-img-top", alt: "Default Image" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= room.name %></h5>
            <p class="card-text"><%= room.description.truncate(80) %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to 'Voir les détails', room_path(room), class: "btn btn-sm btn-outline-secondary" %>
                <% if current_user.try(:bailleur?) && room.user == current_user %>
                  <%= link_to 'Modifier', edit_room_path(room), class: "btn btn-warning" %>
                  <%= link_to 'Supprimer', room_path(room), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette salle ?' } %>
                  

                <% end %>
              </div>
              <small class="text-muted"><%= room.price %> €</small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Aucune salle n'a été trouvée.</p>
<% end %>
