# app/views/layouts/_navigation.html.erb
<nav>
  <%= link_to "Accueil", root_path %>
  <%= link_to "Salles", rooms_path %>
  <% if user_signed_in? %>
    <%= link_to "Tableau de bord", dashboard_path %>
    <%= link_to "Ajouter une salle", new_room_path %>
    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Se connecter", new_user_session_path %>
    <%= link_to "S'inscrire", new_user_registration_path %>
  <% end %>
</nav>