<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:meta_title) ? yield(:meta_title) : "Location de salles" %></title>
  <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : "Trouvez la salle parfaite pour votre événement" %>">
  <%= yield(:canonical_link) if content_for?(:canonical_link) %>
  <%= yield(:og_tags) if content_for?(:og_tags) %>
  <meta name="robots" content="index, follow">
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  <%= javascript_include_tag 'search' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>
    #map { height: 400px; width: 100%; margin-top: 40px; }
    #search-container { margin: 30px 0; }
    #results-container { margin-top: 30px; }
  </style>
</head>

<body>
  <%= render 'layouts/navigation' %>

  <div class="container mt-3">
    <%= render 'shared/flash_messages' %>

    <div id="search-container">
      <input type="text" id="search-input" class="form-control" placeholder="Positionner votre salle sur la carte">
      <button id="search-button" class="btn btn-primary mt-2">Voir votre salle</button>
    </div>

    <div id="map"></div>
    <div id="results-container"></div>
    
    <%= render 'shared/user_actions' %>

    <%= yield %>
  </div>

  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.5.1.slim.min.js' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js' %>
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>
  
  <script>
    function initMap() {
      const mapElement = document.getElementById('map');
      if (mapElement) {
        const map = new google.maps.Map(mapElement, {
          center: { lat: 46.603354, lng: 1.888334 },
          zoom: 6
        });
        console.log("Map initialized");
      } else {
        console.error("Map container not found");
      }
    }
  </script>
  <%= javascript_include_tag 'load_google_maps' %>
</body>
</html>
